@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}

.container {
  max-width: 1152px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
  text-align: center; /* Center align all text */
  align-items: center;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.social-icons {
  padding-left: 30px;
  padding-top: 5px;
  display: flex;
}

.icon {
  height: 40px;
  padding-left: 30px;
}

.title-and-links {
  display: flex;
}

.social {
  padding-left: 30px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
}

.social-links {
  padding-top: 5px;
  display: flex;
}

.social-link {
  padding-left: 30px;
}

.skeleton {
  background-color: #f2f2f2;
  border-radius: 4px;
  animation: skeleton-loading 1s infinite alternate;
  width: 100%;
  height: 1em;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

table {
  width: 90%;
  max-width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  text-align: center; /* Center align table content */
  table-layout: fixed; /* Fix the table layout */
  margin: 15px auto 20px; /* Center the table horizontally with auto margin */
}

table th,
table td {
  padding: 10px;
  text-align: center; /* Center align table cell content */
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:hover {
  background-color: #f9f9f9;
}

@media (max-width: 526px) {
  table {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
  }

  table td {
    padding: 3px; /* Reduce padding on smaller screens */
  }
}

label {
  margin-right: 10px;
}

select {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 20px;
}

.timeline-container {
  width: 100%;
}

.react-chrono-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-chrono-item .react-chrono-content .react-chrono-card {
  box-shadow: none; /* Remove the card box shadow */
}

.react-chrono-item .react-chrono-content .react-chrono-card img {
  width: 100px; /* Set the width of the images */
  height: 100px; /* Set the height of the images */
  object-fit: cover; /* Ensure the images maintain their aspect ratio */
}
